body {
  font-family: 'Montserrat';
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Montserrat';
}

hr.star-dark,
hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-dark:after,
hr.star-light:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #28c0f1;
}

hr.star-dark {
  border-color: rgba(248, 249, 250, 0.9);
}

hr.star-dark:after {
  color: rgba(248, 249, 250, 0.9);
  background-color: white;
}

.gallery-center {
  margin: 0 auto;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.btn-primary:active {
  background-color: #28c0f1 !important;
  border-color: #28c0f1 !important;
}

.btn-primary:focus {
  background-color: #28c0f1 !important;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

/* styles added by Hannah */
.pub-caption {
  color: #495057;
}

.pub-caption h4 {
  color: #212529;
}

.bb {
  border-bottom: solid 10px #28c0f1;
}

.button {
  border-color: #28c0f1 !important;
  background-color: #fff !important;
  color: #28c0f1;
}

.button:hover {
  background-color: #28c0f1 !important;
  color: #fff;
}

.button:hover:active, .button:hover:focus {
  background-color: #28c0f1;
  color: #343a40;
}

.text-splice-shadow {
  color: #28c0f1;
  text-shadow: 5px 5px #3c2647;
}

.text-splice {
  color: #28c0f1;
}

.icon {
  color: #28c0f1;
}

.logo {
  width: 75px;
}

.vimeo-lg {
  display: none;
}

.vimeo-md {
  display: none;
}

.vimeo-sm {
  display: block;
  margin: 0 auto;
}

.pdf {
  display: none;
}

.pdf-text {
  display: block;
}

.cards-desktop {
  display: none;
}

.about-img {
  display: show;
  width: 75%;
}

.about-img-desktop {
  display: none;
}

/*test
.all-content {
  position: absolute;
  top: 3750px;
}

.container-1 {
  position: absolute;
  top: 50px;
  left: 200px;
}
  .planet-1 {
  width: 100px;
  height: 100px;
  border: 5px solid #666;
  border-radius: 50%;
  position: absolute;
  top: 125px;
  left: 125px;
  animation: planetcolor 5s reverse ease-in-out infinite;
}

@keyframes planetcolor {
  0% { background: yellow; }
  50% { background: skyblue; }
 100% { background: yellow; }
}

.planet-1-line-1 {
  border-bottom: solid 5px #666;
  width: 30px;
  position: absolute;
  top: 180px;
  left: 125px;
}

.planet-1-line-2 {
  border-bottom: solid 5px #666;
  width: 50px;
  position: absolute;
  top: 160px;
  left: 180px;
}

.planet-1-line-3 {
  border-bottom: solid 5px #666;
  width: 35px;
  position: absolute;
  top: 205px;
  left: 175px;
}

.planet-1-circle-1 {
  width: 15px;
  height: 15px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 166px;
  left: 166px;
  animation:  planet1orbit1 5s ease-in-out infinite;
}

@keyframes planet1orbit1 {
from { transform: rotate(0deg) translateX(55px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(55px) rotate(-360deg); }
  }

.planet-1-circle-2 {
   width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 170px;
  left: 170px;
  animation:  planet1orbit2 4s ease-in-out reverse infinite;
}

@keyframes planet1orbit2 {
from { transform: rotate(0deg) translateX(70px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(70px) rotate(-360deg); }
  }

.container-2 {
  position: absolute;
  top: 50px;
  left: 175px;
}

.planet-2-wrap {
   animation:  planet2 4s ease-in-out reverse infinite;
}

@keyframes planet2 {
  0% { transform: translate(0,-10px) }
  50% { transform: translate(0px,10px) }
  100% { transform: translate(0,-10px) }
}

.planet-2 {
  width: 85px;
  height: 85px;
  border: 5px solid #666;
  border-radius: 50%;
  background-color: snow;
  position: absolute;
  top: 128px;
  left: 354px;
  animation: planetcolor2 5s reverse ease-in-out infinite;
}

@keyframes planetcolor2 {
  0% { background: snow; }
  50% { background: #ccc; }
 100% { background: snow; }
}

.planet-2-ring-1 {
    width: 60px;
    height: 115px;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 5px solid #666;
    border-left: 0;
    position: absolute;
    top: 112px;
    left: 400px;
}

.planet-2-circle-1 {
  width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: skyblue;
  position: absolute;
  top: 105px;
  left: 390px;
}

.planet-2-circle-2 {
  width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  top: 190px;
  left: 355px;
}

.planet-2-circle-3 {
  width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 130px;
  left: 330px;
}

.planet-2-circle-4 {
  width: 7px;
  height: 7px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 130px;
  left: 331px;
  animation:  planet2circle2 5s ease-in-out infinite;
}


@keyframes planet2circle2 {
  0% { transform: translate(0,-20px) }
  50% { transform: translate(0px,15px) }
  100% { transform: translate(0,-20px) }
}

.planet-2-circle-5 {
  width: 5px;
  height: 5px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 220px;
  left: 365px;
}

.planet-2-circle-6 {
  width: 3px;
  height: 3px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 120px;
  left: 365px;
}

.container-3 {
   position: absolute;
  top: 95px;
}

.planet-3 {
  width: 100px;
  height: 100px;
  border:  solid 5px #666;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 700px;
  background: radial-gradient(yellow, red);
}

.planet-3-circle-1 {
  width: 20px;
  height: 20px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: #FFEB98;
  position: absolute;
  top: 85px;
  left: 695px;
}

.planet-3-ring {
  width: 20px;
  height: 35px;
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  border: 5px solid #666;
  border-right: 0;
  position: absolute;
  top: 70px;
  left: 686px;
  transform: rotate(35deg);
}

.rocket {
  position: absolute;
  top: 200px;
  left: 745px;
  font-size: 2rem;
  color: #871700;
  transform: rotate(-45deg);
  animation: liftoff 6s ease-in infinite forwards;
}

@keyframes liftoff {
  0% { transform: translate(0px,-10px); }
  0% { transform: rotate(-45deg); }
  100% { transform: translate(50px,-200px); }
}

.shadow {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  left: 735px;
  background-color: rgba(0,0,0,.3);
  animation: shadow 6s ease-in infinite forwards;
}

@keyframes shadow {
  0% { transform: scale(-1,-1); }
  50% { transform: scale(-1,0); }
  100% { transform: scale(0,0); }
}

.planet-3-circle-2 {
  width: 8px;
  height: 8px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: snow;
  position: absolute;
  top: 140px;
  left: 680px;
  animation: planet3circle 10s ease-in-out;
}

@keyframes planet3circle {
  0% { transform: translate(0,0px) }
  25% { transform: translate(0,25px) }
  50% { transform: translate(0px,10px) }
  75% { transform: translate(0,15px) }
  100% { transform: translate(0,0px) }
}

.planet-3-circle-3 {
  width: 4px;
  height: 4px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  top: 160px;
  left: 690px;
  animation: planet3circle 10s ease-in-out;
}
*/
@media (min-width: 768px) {
  .pdf {
    display: block;
    margin: 0 auto;
  }
  .pdf-text {
    display: none;
  }
  .vimeo-lg {
    display: none;
  }
  .vimeo-md {
    display: block;
    margin: 0 auto;
  }
  .vimeo-sm {
    display: none;
  }
  .cards {
    display: show;
  }
  .cards-desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .cards {
    display: none;
  }
  .cards-desktop {
    display: inline-block;
  }
  .about-img {
    display: none;
  }
  .about-img-desktop {
    display: inline-block;
    background-image: url("../img/han-01.jpg");
    width: 100%;
    height: 400px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }
  .about-img-desktop:hover {
    background: url("../img/han-06.jpg") no-repeat;
    width: 100%;
    height: 400px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }
  .luxe-card {
    background-image: url("../img/projects/luxe/luxe-cover.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s;
  }
  .luxe-card:hover {
    background: url("../img/projects/luxe/luxe-spread.png") no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s;
  }
  .luxe-card-2 {
    background-image: url("../img/projects/luxe/luxe-cover-fall.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s;
  }
  .luxe-card-2:hover {
    background: url("../img/projects/luxe/luxe-spread-2.png") no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s;
  }
  .cmg-card {
    background-image: url("../img/projects/cmg/cmg-cover.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.02);
  }
  .cmg-card:hover {
    background: url("../img/projects/cmg/cmg-spread.png") no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.02);
  }
  .vimeo-lg {
    display: block;
    margin: 0 auto;
  }
  .vimeo-md {
    display: none;
  }
  .vimeo-sm {
    display: none;
  }
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-family: 'Montserrat';
  background-color: rgba(33, 37, 41, 0.97);
}

#mainNav .navbar-brand {
  font-size: 18px;
}

#mainNav .navbar-brand:hover {
  color: #343a40 !important;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item {
  text-align: right;
  font-size: 14px;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #868e96;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #28c0f1;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #28c0f1;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #28c0f1;
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-item {
  font-size: 12px;
}

.dropdown-item:hover {
  color: #28c0f1;
}

.dropdown-item:active, .dropdown-item:focus {
  background-color: #28c0f1;
  color: #343a40;
}

.nav-link {
  color: #868e96;
}

.dropdown {
  text-align: right;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-brand img {
    width: 100%;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #28c0f1;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #28c0f1;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

#masthead {
  display: none;
}

#about {
  padding-top: 50px;
}

.banner h1 {
  color: #f8f9fa;
  font-size: 40px;
  font-weight: 200;
  text-align: left;
}

.banner-h1 {
  font-weight: 300;
  font-size: 40px;
}

.banner h5 {
  font-weight: 300;
}

.banner .btn {
  background-color: rgba(0, 0, 0, 0.01);
  border: solid 1px #ffffff;
  color: rgba(248, 249, 250, 0.9);
  font-weight: 300;
}

.banner .btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #28c0f1;
  border: solid 1px #ffffff;
}

.banner-text {
  margin: 0 auto;
}

.banner {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/field-phone.jpg");
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-cmg {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/cmg/cmg-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-mpvr {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/mpvr/mpvr-phone.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-sshr {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/sshr/sshr-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-harper {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/harper/harper-banner-2.jpg");
  width: 100%;
  height: 400px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-mg {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/mg/mg-banner.jpg");
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-pg {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/photog/pg-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-marvel {
  padding-top: 225px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/commissions/marvel-banner.jpg");
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-luxe {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/luxe/luxe-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-perrault {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/perrault/perrault-banner.jpg");
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-d {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/social-media/sm-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #about {
    padding-top: 150px;
  }
  .banner-h1 {
    font-weight: 300;
    font-size: 48px;
  }
  .banner {
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 50px;
    color: #eaeaea;
    background-image: url("../img/field.jpg");
    width: 100%;
    height: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .banner-mpvr {
    display: none;
  }
  .banner h1 {
    font-size: 50px;
  }
  .banner h5 {
    font-weight: 300;
    max-width: 700px;
  }
  .parallax {
    /* The image used */
    background-image: url("../img/stars.jpg");
    /* Set a specific height */
    width: 100%;
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-2 {
    /* The image used */
    background-image: url("../img/mtns.jpg");
    /* Set a specific height */
    width: 100%;
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead .banner {
    height: 900px;
    background-position: center;
  }
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(33, 37, 41, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio .portfolio-item .featured {
  width: 100%;
}

.portfolio .portfolio-item .featured:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #28c0f1;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

#contact .btn {
  color: #343a40;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #222222;
}

.footer ul li a {
  color: #868e96;
}

.footer ul li a:hover {
  color: #28c0f1;
}

.footer p {
  color: #868e96;
}

.copyright {
  background-color: #222222;
  border-top: 1px solid #28c0f1;
}

small {
  color: #adb5bd;
}

/* styles added by hannah */
.btn-social {
  border: 0.5px solid rgba(248, 249, 250, 0.9);
}

.btn-social:hover {
  background-color: #222222;
  border: 0.5px solid #28c0f1;
}

.list-inline a {
  text-decoration: none;
  color: #212529;
}

.list-inline a:hover {
  text-decoration: none;
}

footer .btn-primary {
  color: #28c0f1;
  background-color: rgba(248, 249, 250, 0.9);
  border-color: #28c0f1;
}

a {
  color: #adb5bd;
}

a:focus, a:hover, a:active {
  color: #0ea7d8;
}

.project {
  transition: transform .2s;
}

.project:hover {
  transform: scale(1.05);
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #28c0f1 !important;
}

.bg-secondary {
  background-color: rgba(248, 249, 250, 0.9) !important;
}

.text-primary {
  color: #28c0f1 !important;
}

.text-secondary {
  color: rgba(248, 249, 250, 0.9) !important;
}

.btn-primary {
  border: solid 1px #868e96;
  background-color: rgba(0, 0, 0, 0.01);
  color: #495057;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: rgba(0, 0, 0, 0.01);
  color: #28c0f1;
  border-color: #0ea7d8;
}

.btn-secondary {
  border-color: rgba(248, 249, 250, 0.9);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: rgba(218, 224, 229, 0.9);
  border-color: rgba(218, 224, 229, 0.9);
}

.fab, .fas {
  color: #868e96;
}

.btn-gray {
  border: 1px solid #868e96;
}

.btn-gray:hover .fab, .btn-gray:hover .fas, .btn-gray:focus .fab, .btn-gray:focus .fas, .btn-gray:active .fab, .btn-gray:active .fas {
  color: #28c0f1;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #717171 !important;
}

.card {
  border-color: rgba(248, 249, 250, 0.9);
}

.card .card-header {
  background-color: rgba(248, 249, 250, 0.9);
  border-bottom: rgba(248, 249, 250, 0.9);
}

.publications-lg {
  display: none;
}

@media (min-width: 768px) {
  .accordion {
    display: none;
  }
  .publications-lg {
    display: inline-block;
  }
  .parallax {
    /* The image used */
    background-image: url("../img/stars.jpg");
    /* Set a specific height */
    width: 100%;
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
