.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #222222;
  & ul li a {
    color: $gray-600;
  }
  & ul li a:hover {
    color: $primary;
  }
  & p {
    color: $gray-600;
  }
}

.copyright {
  background-color: #222222;
  border-top: 1px solid $primary;
} small {
  color: $gray-500;
}

/* styles added by hannah */

.btn-social {
  border: .5px solid $secondary;
}

.btn-social:hover {
  background-color: #222222;
  border: .5px solid $primary;
}

.list-inline a {
  text-decoration: none;
  color: $gray-900;
}

.list-inline a:hover {
  text-decoration: none;
}

footer .btn-primary {
  color: $primary;
  background-color: $secondary;
  border-color: $primary;
}
