// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Horizontal Rule with Star Icon
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: $white;
}
hr.star-light:after {
  color: $white;
  background-color: $primary;
}

hr.star-dark {
  border-color: $secondary;
}
hr.star-dark:after {
  color: $secondary;
  background-color: white;
}

.gallery-center {
  margin: 0 auto;
}

// Section Padding Settings
section {
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}

/* styles added by Hannah */

.pub-caption {
  color: $gray-700;
  h4 {
    color: $gray-900;
  }
}

.bb {
  border-bottom: solid 10px $primary;
}

.button {
  border-color: $highlight !important;
  background-color: #fff !important;
  color: $highlight;
  &:hover {
    background-color: $highlight !important;
    color: #fff;
  }
}

.text-splice-shadow {
  color: $highlight;
  text-shadow: 5px 5px #3c2647;
}

.text-splice {
  color: $highlight;
}

.icon {
  color: $highlight;
}

.logo {
  width: 75px;
}

.vimeo-lg {
  display: none;
}

.vimeo-md {
  display: none;
}

.vimeo-sm {
  display: block;
  margin: 0 auto;
}

.pdf-l {
  display: none;
}

.pdf-s {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .pdf-l {
    display: block;
    margin: 0 auto;
  }

  .pdf-s {
    display: none;
  }

  .vimeo-lg {
    display: none;
  }

  .vimeo-md {
    display: block;
    margin: 0 auto;
  }

  .vimeo-sm {
    display: none;
  }
}

@media (min-width: 992px) {
  .vimeo-lg {
    display: block;
    margin: 0 auto;
  }

  .vimeo-md {
    display: none;
  }

  .vimeo-sm {
    display: none;
  }
}
