// Typography

body {
  @include body-font;
}

.btn-primary {
  @include btn-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}
// Custom Horizontal Rule with Star Icon

hr.star-dark,
hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-dark:after,
hr.star-light:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: $white;
}

hr.star-light:after {
  color: $white;
  background-color: $primary;
}

hr.star-dark {
  border-color: $secondary;
}

hr.star-dark:after {
  color: $secondary;
  background-color: white;
}

.gallery-center {
  margin: 0 auto;
}
// Section Padding Settings

section {
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
// Custom Button Size

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
// Custom Rounded Social Button

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.btn-primary:active {
  background-color: $primary!important;
  border-color: $primary!important;
}

.btn-primary:focus {
  background-color: $primary!important;
}
// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;

  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}
/* styles added by Hannah */
.pub-caption {
  color: $gray-700;

  h4 {
    color: $gray-900;
  }
}

.bb {
  border-bottom: solid 10px $primary;
}

.button {
  border-color: $highlight !important;
  background-color: #fff !important;
  color: $highlight;

  &:hover {
    background-color: $highlight !important;
    color: #fff;

    &:active,
    &:focus {
      background-color: $primary;
      color: $gray-800;
    }
  }
}

.text-splice-shadow {
  color: $highlight;
  text-shadow: 5px 5px #3c2647;
}

.text-splice {
  color: $highlight;
}

.icon {
  color: $highlight;
}

.logo {
  width: 75px;
}

.vimeo-lg {
  display: none;
}

.vimeo-md {
  display: none;
}

.vimeo-sm {
  display: block;
  margin: 0 auto;
}

.pdf {
  display: none;
}

.pdf-text {
  display: block;
}

.cards-desktop {
  display: none;
}

.about-img {
  display: show;
  width: 75%;
}

.about-img-desktop {
  display: none;
}

/*test
.all-content {
  position: absolute;
  top: 3750px;
}

.container-1 {
  position: absolute;
  top: 50px;
  left: 200px;
}
  .planet-1 {
  width: 100px;
  height: 100px;
  border: 5px solid #666;
  border-radius: 50%;
  position: absolute;
  top: 125px;
  left: 125px;
  animation: planetcolor 5s reverse ease-in-out infinite;
}

@keyframes planetcolor {
  0% { background: yellow; }
  50% { background: skyblue; }
 100% { background: yellow; }
}

.planet-1-line-1 {
  border-bottom: solid 5px #666;
  width: 30px;
  position: absolute;
  top: 180px;
  left: 125px;
}

.planet-1-line-2 {
  border-bottom: solid 5px #666;
  width: 50px;
  position: absolute;
  top: 160px;
  left: 180px;
}

.planet-1-line-3 {
  border-bottom: solid 5px #666;
  width: 35px;
  position: absolute;
  top: 205px;
  left: 175px;
}

.planet-1-circle-1 {
  width: 15px;
  height: 15px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 166px;
  left: 166px;
  animation:  planet1orbit1 5s ease-in-out infinite;
}

@keyframes planet1orbit1 {
from { transform: rotate(0deg) translateX(55px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(55px) rotate(-360deg); }
  }

.planet-1-circle-2 {
   width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 170px;
  left: 170px;
  animation:  planet1orbit2 4s ease-in-out reverse infinite;
}

@keyframes planet1orbit2 {
from { transform: rotate(0deg) translateX(70px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(70px) rotate(-360deg); }
  }

.container-2 {
  position: absolute;
  top: 50px;
  left: 175px;
}

.planet-2-wrap {
   animation:  planet2 4s ease-in-out reverse infinite;
}

@keyframes planet2 {
  0% { transform: translate(0,-10px) }
  50% { transform: translate(0px,10px) }
  100% { transform: translate(0,-10px) }
}

.planet-2 {
  width: 85px;
  height: 85px;
  border: 5px solid #666;
  border-radius: 50%;
  background-color: snow;
  position: absolute;
  top: 128px;
  left: 354px;
  animation: planetcolor2 5s reverse ease-in-out infinite;
}

@keyframes planetcolor2 {
  0% { background: snow; }
  50% { background: #ccc; }
 100% { background: snow; }
}

.planet-2-ring-1 {
    width: 60px;
    height: 115px;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 5px solid #666;
    border-left: 0;
    position: absolute;
    top: 112px;
    left: 400px;
}

.planet-2-circle-1 {
  width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: skyblue;
  position: absolute;
  top: 105px;
  left: 390px;
}

.planet-2-circle-2 {
  width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  top: 190px;
  left: 355px;
}

.planet-2-circle-3 {
  width: 10px;
  height: 10px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 130px;
  left: 330px;
}

.planet-2-circle-4 {
  width: 7px;
  height: 7px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 130px;
  left: 331px;
  animation:  planet2circle2 5s ease-in-out infinite;
}


@keyframes planet2circle2 {
  0% { transform: translate(0,-20px) }
  50% { transform: translate(0px,15px) }
  100% { transform: translate(0,-20px) }
}

.planet-2-circle-5 {
  width: 5px;
  height: 5px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 220px;
  left: 365px;
}

.planet-2-circle-6 {
  width: 3px;
  height: 3px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 120px;
  left: 365px;
}

.container-3 {
   position: absolute;
  top: 95px;
}

.planet-3 {
  width: 100px;
  height: 100px;
  border:  solid 5px #666;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 700px;
  background: radial-gradient(yellow, red);
}

.planet-3-circle-1 {
  width: 20px;
  height: 20px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: #FFEB98;
  position: absolute;
  top: 85px;
  left: 695px;
}

.planet-3-ring {
  width: 20px;
  height: 35px;
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  border: 5px solid #666;
  border-right: 0;
  position: absolute;
  top: 70px;
  left: 686px;
  transform: rotate(35deg);
}

.rocket {
  position: absolute;
  top: 200px;
  left: 745px;
  font-size: 2rem;
  color: #871700;
  transform: rotate(-45deg);
  animation: liftoff 6s ease-in infinite forwards;
}

@keyframes liftoff {
  0% { transform: translate(0px,-10px); }
  0% { transform: rotate(-45deg); }
  100% { transform: translate(50px,-200px); }
}

.shadow {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  left: 735px;
  background-color: rgba(0,0,0,.3);
  animation: shadow 6s ease-in infinite forwards;
}

@keyframes shadow {
  0% { transform: scale(-1,-1); }
  50% { transform: scale(-1,0); }
  100% { transform: scale(0,0); }
}

.planet-3-circle-2 {
  width: 8px;
  height: 8px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: snow;
  position: absolute;
  top: 140px;
  left: 680px;
  animation: planet3circle 10s ease-in-out;
}

@keyframes planet3circle {
  0% { transform: translate(0,0px) }
  25% { transform: translate(0,25px) }
  50% { transform: translate(0px,10px) }
  75% { transform: translate(0,15px) }
  100% { transform: translate(0,0px) }
}

.planet-3-circle-3 {
  width: 4px;
  height: 4px;
  border: solid 5px #666;
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  top: 160px;
  left: 690px;
  animation: planet3circle 10s ease-in-out;
}
*/

.link {
  color: $primary;
  &:hover {
    text-decoration: none;
    color: $gray-500;
  }
}

.gif {
  max-width: 100%;
}

.c-logo-1 {
  max-width: 35%;
}

.c-logo-2 {
  max-width: 40%;
}

.c-logo-3 {
  max-width: 55%;
}

.as {
  max-width: 90%;
  margin: 0 auto;
}

.as-2 {
  max-width: 90%;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .pdf {
    display: block;
    margin: 0 auto;
  }

  .pdf-text {
    display: none;
  }

  .vimeo-lg {
    display: none;
  }

  .vimeo-md {
    display: block;
    margin: 0 auto;
  }

  .vimeo-sm {
    display: none;
  }

  .cards {
    display: show;
  }

  .cards-desktop {
    display: none;
  }

  .c-logo-1 {
    max-width: 15%;
  }

  .c-logo-2 {
    max-width: 20%;
  }

  .c-logo-3 {
    max-width: 30%;
  }

  .as {
    max-width: 60%;
    margin: 0 auto;
  }

}
@media (min-width: 992px) {

  .cards {
    display: none;
  }

  .cards-desktop {
    display: inline-block;
  }

  .about-img {
    display: none;
  }

  .about-img-desktop {
    display: inline-block;
    background-image: url("../img/han-01.jpg");
    width: 100%;
    height: 400px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
    &:hover {
      background: url("../img/portrait.jpg") no-repeat;
      width: 100%;
      height: 400px;
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all .3s;
    }
  }

  .luxe-card {
    background-image: url("../img/projects/luxe/luxe-cover.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s;
    &:hover {
      background: url("../img/projects/luxe/luxe-spread.png") no-repeat;
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all .2s;
    }
  }

  .luxe-card-2 {
    background-image: url("../img/projects/luxe/luxe-cover-fall.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s;
    &:hover {
      background: url("../img/projects/luxe/luxe-spread-2.png") no-repeat;
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all .2s;
    }
  }


  .cmg-card {
    background-image: url("../img/projects/cmg/cmg-cover.png");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.02);
    &:hover {
      background: url("../img/projects/cmg/cmg-spread.png") no-repeat;
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: scale(1.02);

    }
  }

      .vimeo-lg {
        display: block;
        margin: 0 auto;
      }

      .vimeo-md {
        display: none;
      }

      .vimeo-sm {
        display: none;
      }
    }
