.banner h1 {
  color: $gray-100;
  font-size: 40px;
  font-weight: 300;
}
.banner-h1 {
  font-weight: 200;
}
.banner h5 {
  font-weight: 300;
}
.banner .btn {
  background-color: rgba(0, 0, 0, 0.01);
  border: solid 2px $secondary;
  color: $secondary;
  font-weight: 300;
}

.banner {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/field.jpg");
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-featured {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/featured-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}




@media (min-width: 768px) {
  .banner {
    padding-top: 150px;
    padding-bottom: 50px;
    color: #eaeaea;
    background-image: url("../img/field.jpg");
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .banner-featured {
    padding-top: 225px;
    padding-bottom: 50px;
    color: #eaeaea;
    background-image: url("../img/featured-banner.jpg");
    width: 100%;
    height: 450px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .banner h1 {
    font-size: 50px;
  }
  .banner h5 {
    font-weight: 300;
  }
  .parallax {
      /* The image used */
      background-image: url("../img/stars.jpg");

      /* Set a specific height */
      width: 100%;
      height: 300px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .parallax-2 {
      /* The image used */
      background-image: url("../img/mtns.jpg");

      /* Set a specific height */
      width: 100%;
      height: 300px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


}

@media (min-width: 992px) {
  header.masthead {
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    .banner {
      height: 800px;
    }

  }
}
