#masthead {
  display: none;
}

#about {
  padding-top: 50px;
}


.banner h1 {
  color: $gray-100;
  font-size: 40px;
  font-weight: 200;
  text-align: left;
}
.banner-h1 {
  font-weight: 300;
  font-size: 40px;
}
.banner h5 {
  font-weight: 300;
}
.banner .btn {
  background-color: rgba(0, 0, 0, 0.01);
  border: solid 1px #ffffff;
  color: $secondary;
  font-weight: 300;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: $primary;
    border: solid 1px #ffffff;
  }
}

.banner-text {
  margin: 0 auto;
}
.banner {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/field-phone.jpg");
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-cmg {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/cmg/cmg-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-mpvr {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/mpvr/mpvr-phone.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-sshr {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/sshr/sshr-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-harper {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/harper/harper-banner-2.jpg");
  width: 100%;
  height: 400px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-mg {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/mg/mg-banner.jpg");
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-pg {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/photog/pg-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-marvel {
  padding-top: 225px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/commissions/marvel-banner.jpg");
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-luxe {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/luxe/luxe-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-d {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eaeaea;
  background-image: url("../img/projects/social-media/sm-banner.jpg");
  width: 100%;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {

 #about {
   padding-top: 150px;
 }

  .banner-h1 {
    font-weight: 300;
    font-size: 48px;
  }

  .banner {
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 50px;
    color: #eaeaea;
    background-image: url("../img/field.jpg");
    width: 100%;
    height: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .banner-mpvr {
    display: none;
  }
  //.banner-mpvr {
//    padding-top: 150px;
//    padding-bottom: 50px;
//    color: #eaeaea;
//    background-image: url("../img/projects/mpvr/mpvr-banner.jpg");
//    width: 100%;
//    height: 300px;
//    background-position: top;
//    background-repeat: no-repeat;
//    background-size: cover;
//  }
  .banner h1 {
    font-size: 50px;
  }
  .banner h5 {
    font-weight: 300;
    max-width: 700px;
  }
  .parallax {
      /* The image used */
      background-image: url("../img/stars.jpg");

      /* Set a specific height */
      width: 100%;
      height: 300px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .parallax-2 {
      /* The image used */
      background-image: url("../img/mtns.jpg");

      /* Set a specific height */
      width: 100%;
      height: 300px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


}

@media (min-width: 992px) {
  header.masthead {
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    .banner {
      height: 900px;
      background-position: center;
    }

  }
}
