@mixin body-font() {
  font-family: 'Montserrat';
  font-weight: 300;
}

@mixin heading-font() {
  font-weight: 400;
  font-family: 'Montserrat';
}

@mixin btn-font() {
  font-weight: 600;
  font-family: 'Montserrat';
}
