// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include heading-font;
    background-color: rgba(white, .90);
  .navbar-brand {
    font-size: 14px;
  }
  .navbar-brand:hover {
    color: $gray-600!important;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      text-align: right;
      font-size: 14px;
      a.nav-link {
        color: $gray-900;
        &:hover {
          color: $gray-600;
        }
        &:active,
        &:focus {
          color: $gray-600;
        }
        &.active {
          color: $gray-600;
        }
      }
    }
  }
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-item {
  font-size: 12px;
  &:hover {
    color: $gray-600;
  }
}


@media(min-width:992px) {
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
      img {
        width: 100%;
      }
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $gray-900;
      &:active,
      &:focus,
      &:hover {
        color: $gray-600;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
