.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: white;
  & ul li a {
    color: $gray-900;
  }
  & ul li a:hover {
    color: #000000;
  }
  & p {
    color: $gray-900;
  }
}

.copyright {
  color: $gray-900;
  background-color: white;
  font-size: 12px;
}

/* styles added by hannah */

.btn-social {
  border: .5px solid $secondary;
}

.btn-social:hover {
  background-color: #222222;
  border: .5px solid #000000;
}

.list-inline a {
  text-decoration: none;
  color: $gray-900;
}

.list-inline a:hover {
  text-decoration: none;
}

footer .btn-primary {
  color: $primary;
  background-color: $secondary;
  border-color: $primary;
}
